<div mat-dialog-content>
  <header><h4>Organizations</h4></header>
  <app-search-bar [alphabet]="alphabet" [nameList]="nameList" (divideCollumnForOrganizationsDialog)="this.displayObjForListWithDivideElements($event)"
                  (alphabetForCollumnForOrganizationsDialog)="this.displayalphabetForCollumn($event)"></app-search-bar>
      <app-alphabet-bar [alphabet]="alphabet" [objForListWithDivideElements]="objForListWithDivideElements" [getLetter]="getLetter"
                        (sendLettertoOrganizationsDialog)="this.goToLetter($event)"></app-alphabet-bar>
  <div [className]="'border-for-all'" (scroll)="FindLetterToChange()" #goToPositionLetter>
    <section *ngFor="let item of alphabetForCollumn; let i = index" [class.add-padding]="i === alphabetForCollumn.length - 1" #getSection>
      <div [className]="'border-for-letters'">
        <div [className]="'letters'" #letterPosition>{{item}}</div>
      </div>
      <div [className]="'border-for-data'">
        <app-border-for-all [objForListWithDivideElements]="objForListWithDivideElements" [item]="item"></app-border-for-all>
        <hr #linePosition>
      </div>
    </section>
  </div>
</div>
