<div mat-dialog-content>
  <header>Organizations</header>
  <div [className]="'find-words'">
      <input matInput placeholder="Placeholder">
  </div>
  <div [className]="'alphabet'"></div>
  <div [className]="'border-for-all'">
    <section *ngFor="let item of alphabet">
      <div [className]="'border-for-letters'">
        <div [className]="'letters'">{{item}}</div>
      </div>
      <div [className]="'border-for-data'">
        <div [className]="'data'">test</div>
      </div>
    </section>
  </div>
</div>
