<div mat-dialog-content>
  <header><h4>Organizations</h4></header>
  <div [className]="'find-words'">
      <input matInput placeholder="Placeholder" [(ngModel)]="wordsToFind" (input)="findWords()">
  </div>
  <div [className]="'alphabet'">
    <div [className]="'border-inside-for-alphabet'">
        <p *ngFor="let item of alphabet" [class.hidden-letter]="!objForListWithDivideElements[item]">{{item}}</p>
    </div>
  </div>
  <div [className]="'border-for-all'" (click)="test()">
    <section *ngFor="let item of alphabetForCollumn">
      <div [className]="'border-for-letters'">
        <div [className]="'letters'" #letterPosition>{{item}}</div>
      </div>
      <div [className]="'border-for-data'">
        <div [className]="'data'">
          <ng-container *ngIf="objForListWithDivideElements[item]">
            <div [className]="'divide-data'">
              <div [className]="'data-details'" *ngFor="let item of objForListWithDivideElements[item].divideElementListOne">
                {{item}}
              </div>
            </div>
            <div [className]="'divide-data'">
              <div [className]="'data-details'" *ngFor="let item of objForListWithDivideElements[item].divideElementListTwo">
                {{item}}
              </div>
            </div>
            <div [className]="'divide-data'">
              <div [className]="'data-details'" *ngFor="let item of objForListWithDivideElements[item].divideElementListThree">
                {{item}}
              </div>
            </div>
            <div [className]="'divide-data'">
              <div [className]="'data-details'" *ngFor="let item of objForListWithDivideElements[item].divideElementListFour">
              {{item}}
              </div>
            </div>
          </ng-container>
        </div>
        <hr #linePosition>
      </div>
    </section>
  </div>
</div>
