::ng-deep .custom-modalbox {
  .mat-dialog-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .mat-dialog-content {
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@mixin setting-for-border {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}

@mixin margin-for-element {
  margin-left: 2rem;
}

@mixin border-for-part {
  border: 1px solid darkgray;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

header {
  @include setting-for-border;
  @include border-for-part;
  font-size: 1.5rem;
  background-color: #cce7fa;
  h4 {
      @include margin-for-element;
    }
}

.find-words {
  @include setting-for-border;
  @include border-for-part;
  background: whitesmoke;
  input{
    @include margin-for-element;
    @include border-for-part;
    width: 19rem;
    height: 1.5rem;
    border-radius: 4px;
  }
}

.alphabet {
  @include setting-for-border;
  @include border-for-part;
    width: 100%;
    display: flex;
    justify-content: center;
    p {
      font-size: 2rem;
      padding-left: 2rem;
    }
    p:first-child {
      padding-left: 0;
    }
  background: white;
}
.border-for-all{
  width: 100%;
  height: 42vw;
  overflow: auto;
  section {
    display: flex;
    width: 100%;
    .border-for-letters {
      .letters {
        font-size: 5rem;
        width: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .border-for-data {
     // border: 1px solid blue;
      width: 100%;
      .data {
       // border: 1px solid green;
        width: 100%;
        display: flex;
        align-items: center;
        .divide-data {
          // border: 1px solid red;
          width: 100%;
          .data-details {
            // border: 1px solid red;
            width: 100%;
          }
        }
      }
    }
  }
}



