::ng-deep .custom-modalbox {
  .mat-dialog-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .mat-dialog-content {
    max-height: 100%;
   // overflow: auto;
  }
}

@mixin setting-for-border {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}

header {
  @include setting-for-border;
}

.find-words {
  @include setting-for-border;
}

.alphabet {
 // border: 1px solid red;
  @include setting-for-border;
}
.border-for-all{
  width: 100%;
  height: 100%;
  section {
    display: flex;
    //border: 1px solid gold;
    width: 100%;
    .border-for-letters {
      .letters {
        font-size: 5rem;
        width: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .border-for-data {
      border: 1px solid blue;
      width: 100%;
      .data {
        width: 100%;
        display: flex;
        align-items: center;
          .data-details {
    //        border: 1px solid red;
            width: 100%;
          }
      }
    }
  }
}



