.border-for-button{
  display: flex;
  .button-for-data {
    border: 1px solid darkslategray;
    width: 2rem;
    height: 1rem;
    margin-left: 0.5rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      color: darkslategray;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  .button-for-data:nth-child(2) {
    margin-right: 0.5rem;
  }
}
