<button mat-flat-button color="warn" (click)="openDialog()">Dialog</button>

<!--<div class="container">-->
<!--    <div class="box box1">kolumna 1</div>-->
<!--    <div class="box box2">kolumna 2</div>-->
<!--    <div class="box box3">kolumna 3</div>-->
<!--    <div class="box box4">kolumna 4</div>-->
<!--&lt;!&ndash;    <div class="box">kolumna 1</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="box">kolumna 1</div>&ndash;&gt;-->
<!--</div>-->

<div class="container">
  <header class="box">header</header>
  <main class="box">main</main>
  <aside class="box">aside</aside>
  <footer class="box">footer</footer>
</div>

<div class="container2">
  <div class="top-level-first">first</div>
  <div class="top-level-second">second</div>
  <div class="top-level-third">third</div>
  <div class="top-level-fourth">fourth</div>
  <div class="top-level-fift">fift</div>
  <div class="top-level-sixth">sixth</div>
  <div class="top-level-seventh">seventh</div>
  <div class="top-level-eight">eight</div>
  <div class="top-level-nineth">nineth</div>
  <div class="top-level-tenth">tenth</div>
  <div class="top-level-eleventh">eleventh</div>
</div>

<div class="container3">
  <div class="custom-level-first">first</div>
  <div class="custom-level-second">second</div>
  <div class="custom-level-third">third</div>
  <div class="custom-level-fourth">fourth</div>
</div>

<div class="container4">
  <div class="custom-next-first">first</div>
  <div class="custom-next-second">second</div>
  <div class="custom-next-third">third</div>
  <div class="custom-next-fourth">fourth</div>
  <div class="custom-next-fifth">fourth</div>
</div>
